@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.mobile-screen{
    width: 428px;
    height: 44px;
    background-color: #1B262C;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.cell-painel{
    margin-bottom: 100%;
}

.painel-menu{
    width: 428px;
    height: 50px;
    background-color: #1B262C;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 2px;
}

.title-tela{
    width: 115px;
    height: 29px;
    font-size: 36px;
    font-family: 'Work Sans';
    color: #FFF;
}

input[type='file']{
    display: none;
}

#imgPhoto{
    margin-top: 10%;
    max-width: 300px;
    width: 100%;
    background-color: #eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

#imgPhoto:hover{
    background-color: rgb(180,180,180);
    border: 5px solid #111;
}

.perfil{
    padding-right: 30px;
}


/* Estilo base para o conteúdo do slide */
.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Card da bicicleta e do número */
  .bike-card, .number-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .bike-card {
    background-color: #2d2d2d; /* Fundo preto para o card da bicicleta quando não está selecionado */
    cursor: pointer;
  }
  
  .bike-card.selected {
    background-color: white; /* Fundo branco quando o card da bicicleta é selecionado */
  }
  
  /* Imagem da bicicleta */
  .bike-icon {
    width: 40px;
    height: auto;
  }
  
  /* Card do número (não selecionado) */
  .number-card {
    background-color: #2d2d2d; /* Fundo preto para o card do número quando não está selecionado */
    margin-top: 10px;
  }
  
  .bike-number {
    font-size: 1.2rem;
    color: #fff; /* Número branco quando o card não está selecionado */
  }
  
  /* Estilo para o número e card do número quando selecionado */
  .number-card.selected-number {
    background-color: white; /* Fundo branco quando o card do número é selecionado */
  }
  
  .bike-number.selected-number {
    color: #000; /* Número preto quando o card do número é selecionado */
  }
  
  
  